
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4">
    <section class="panel">
        <div class="panel-body">
            <div class="top-stats-panel">
                <div class="gauge-canvas">
                    <h3 class="widget-h gauge-value">Ayarlar</h3>
                    <a href="/Admin/ayarlar" style="display:block; width:100%; line-height:160px; background-color:#E0E1E7;"> <i class="fa fa-4x fa-cog "></i></a>
                </div>

            </div>
        </div>
    </section>
</div>
<!-- End Ayarlar  -->
<!--Kargo  -->
<div class="col-md-4">
    <section class="panel">
        <div class="panel-body">
            <div class="top-stats-panel">
                <div class="gauge-canvas">
                    <h3 class="widget-h gauge-value">Marka</h3>
                    <a href="/Admin/Markalar" style="display:block; width:100%; line-height:160px; background-color:#E0E1E7;"> <i class="fa fa-4x  fa-tags "></i></a>
                </div>

            </div>
        </div>
    </section>
</div>
<!--Urunler  -->
<div class="col-md-4">
    <section class="panel">
        <div class="panel-body">
            <div class="top-stats-panel">
                <div class="gauge-canvas">
                    <h3 class="widget-h gauge-value">Ürünler</h3>
                    <a href="/Admin/Urunler" style="display:block; width:100%; line-height:160px; background-color:#E0E1E7;"> <i class="fa fa-4x  fa-briefcase "></i></a>
                </div>

            </div>
        </div>
    </section>
</div>
<!--end Urunler   -->
<!--Musteriler  -->
<div class="col-md-4">
    <section class="panel">
        <div class="panel-body">
            <div class="top-stats-panel">
                <div class="gauge-canvas">
                    <h3 class="widget-h gauge-value">Müşteriler</h3>
                    <a href="/Musteriler" style="display:block; width:100%; line-height:160px; background-color:#E0E1E7;"> <i class="fa fa-4x fa-user "></i></a>
                </div>

            </div>
        </div>
    </section>
</div>
<!--end Musteriler   -->
<!--Siparişler  -->
<div class="col-md-4">
    <section class="panel">
        <div class="panel-body">
            <div class="top-stats-panel">
                <div class="gauge-canvas">
                    <h3 class="widget-h gauge-value">Siparişler</h3>
                    <a href="/siparisler" style="display:block; width:100%; line-height:160px; background-color:#E0E1E7;"> <i class="fa fa-4x fa-shopping-cart "></i></a>
                </div>

            </div>
        </div>
    </section>
</div>
<!--end siparişler   -->
<!--Kullanıclar  -->
<div class="col-md-4">
    <section class="panel">
        <div class="panel-body">
            <div class="top-stats-panel">
                <div class="gauge-canvas">
                    <h3 class="widget-h gauge-value">Üyeler</h3>
                    <a href="/uyeler" style="display:block; width:100%; line-height:160px; background-color:#E0E1E7;"> <i class="fa fa-4x fa-user "></i></a>
                </div>

            </div>
        </div>
    </section>
</div>
<!--end Kullanıcılar   -->

