
@{
    ViewBag.Title = "Urunler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="row">

        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Ürünler
                </header>

                <div class="panel-body">
                    <div class="position-center1">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10 pull-right">
                                    <button type="submit" class="btn btn-danger">Kaydet</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Ürünün Kategori</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputEmail1" placeholder="Lütfen sitenin adını giriniz...">

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Ürünün Adı</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputPassword1" placeholder="Lütfen Keywords giriniz..">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Ürünün Fiyatı</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputPassword1" placeholder="Lütfen Telefonu giriniz..">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Ürünün Stok</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputPassword1" placeholder="Lütfen Telefonu giriniz..">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Ürünün Detay özellikleri</label>


                                <div class="col-sm-10">
                                    <textarea class="form-control ckeditor" name="editor1" rows="6"></textarea>
                                </div>

                            </div>



                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-danger">Kaydet</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </section>

        </div>
    </div>





